Repository CSID-DGU/2024-1-VSA-BecomeGDSCForever-T05, pull requests merged in 2024-08, with the labels that each got.

#17 ✨ Feature - Top Menu Bar Component
  Dev/Web/src/assets/icons/FilledLeaf.svg
  Dev/Web/src/assets/icons/Logo/HomeLogo.svg
  Dev/Web/src/assets/icons/Profile/DefaultProfile.svg
  Dev/Web/src/components/NavBar/JoinStateTag/index.tsx
  Dev/Web/src/components/NavBar/JoinStateTag/style.ts
  Dev/Web/src/components/NavBar/index.tsx
  Dev/Web/src/components/NavBar/style.ts
  Dev/Web/src/pages/Home/index.tsx
  Dev/Web/src/pages/Home/style.ts
Labels: feature ✨

#20 ✨ Feature - State Management Home View - 1
  Dev/Web/src/Router.tsx
  Dev/Web/src/components/Answer/index.tsx
  Dev/Web/src/components/Common/Font/Body/Sub1/index.tsx
  Dev/Web/src/components/Common/Font/Body/Sub1/style.ts
  Dev/Web/src/components/Common/Font/Body/Sub2/index.tsx
  Dev/Web/src/components/Common/Font/Body/Sub2/style.ts
  Dev/Web/src/components/Common/Font/Body/Sub3/index.tsx
  Dev/Web/src/components/Common/Font/Body/Sub3/style.ts
  Dev/Web/src/components/Common/Font/Heading/H1/index.tsx
  Dev/Web/src/components/Common/Font/Heading/H1/style.ts
  Dev/Web/src/components/Common/Font/Heading/H2/index.tsx
  Dev/Web/src/components/Common/Font/Heading/H2/style.ts
  Dev/Web/src/components/Common/Font/Heading/H3/index.tsx
  Dev/Web/src/components/Common/Font/Heading/H3/style.ts
  Dev/Web/src/components/Common/Font/Heading/H4/index.tsx
  Dev/Web/src/components/Common/Font/Heading/H4/style.ts
  Dev/Web/src/components/Common/Font/Heading/H5/index.tsx
  Dev/Web/src/components/Common/Font/Heading/H5/style.ts
  Dev/Web/src/components/Common/Font/Heading/H6/index.tsx
  Dev/Web/src/components/Common/Font/Heading/H6/style.ts
  Dev/Web/src/components/Entry/FormItem/Button/RadiusButton/index.tsx
  Dev/Web/src/components/Entry/Login/LoginForm/index.tsx
  Dev/Web/src/components/Entry/SignUp/SignUpForm/index.tsx
  Dev/Web/src/components/Modal/ModalButton/index.tsx
  Dev/Web/src/components/Modal/ModalButton/style.ts
  Dev/Web/src/components/Modal/index.tsx
  Dev/Web/src/components/Modal/style.ts
  Dev/Web/src/components/NavBar/JoinStateTag/index.tsx
  Dev/Web/src/components/NavBar/index.tsx
  Dev/Web/src/components/Question/QuestionHeader/index.tsx
  Dev/Web/src/components/Question/QuestionItem/QuestionTitle/index.tsx
  Dev/Web/src/components/Question/QuestionItem/index.tsx
  Dev/Web/src/components/Question/index.tsx
  Dev/Web/src/components/Search/Button/index.tsx
  Dev/Web/src/components/Search/index.tsx
  Dev/Web/src/constants/Constant.ts
  Dev/Web/src/constants/persistent
  Dev/Web/src/hooks/persistent
  Dev/Web/src/hooks/useParticipatingModeul.ts
  Dev/Web/src/hooks/useQuestionSummaries.ts
  Dev/Web/src/interfaces/props/FontProps.ts
  Dev/Web/src/interfaces/props/ModalButtonProps.ts
  Dev/Web/src/interfaces/states/AnswerModalState.ts
  Dev/Web/src/interfaces/states/ParticipatingModeulState.ts
  Dev/Web/src/interfaces/states/QuestionSummariesState.ts
  Dev/Web/src/interfaces/states/QuestionSummaryState.ts
  Dev/Web/src/interfaces/states/SelectedDateState.ts
  Dev/Web/src/pages/Home/index.tsx
  Dev/Web/src/stores/slices/answerModal.slice.ts
  Dev/Web/src/stores/slices/date.slice.ts
  Dev/Web/src/stores/slices/participatingModeul.slice.ts
  Dev/Web/src/stores/slices/questionSummaries.slice.ts
  Dev/Web/src/stores/store.ts
Labels: feature ✨

#27 ✨ Feature - Sidebar Components in Code Page
  Dev/Web/package.json
  Dev/Web/src/Router.tsx
  Dev/Web/src/assets/icons/Sidebar/doubleLeftIcon.svg
  Dev/Web/src/assets/icons/Sidebar/doubleRightIcon.svg
  Dev/Web/src/assets/icons/Sidebar/exitIcon.svg
  Dev/Web/src/assets/icons/Sidebar/newFileIcon.svg
  Dev/Web/src/assets/icons/Sidebar/newFolderIcon.svg
  Dev/Web/src/assets/icons/Sidebar/questionIcon.svg
  Dev/Web/src/assets/icons/Sidebar/refreshIcon.svg
  Dev/Web/src/assets/icons/Sidebar/settingIcon.svg
  Dev/Web/src/components/Calendar/index.tsx
  Dev/Web/src/components/Common/Column/index.tsx
  Dev/Web/src/components/Common/Column/style.ts
  Dev/Web/src/components/Common/ProfileImage/index.tsx
  Dev/Web/src/components/Common/ProfileImage/style.ts
  Dev/Web/src/components/Common/Row/index.tsx
  Dev/Web/src/components/Common/Row/style.ts
  Dev/Web/src/components/Modal/index.tsx
  Dev/Web/src/components/NavBar/index.tsx
  Dev/Web/src/components/NavBar/style.ts
  Dev/Web/src/components/Sidebar/IDEMulti/index.tsx
  Dev/Web/src/components/Sidebar/IDEMulti/style.ts
  Dev/Web/src/components/Sidebar/IDEPersonal/index.tsx
  Dev/Web/src/components/Sidebar/IDEPersonal/style.ts
  Dev/Web/src/components/Sidebar/index.tsx
  Dev/Web/src/components/Sidebar/style.ts
  Dev/Web/src/pages/Code/index.tsx
  Dev/Web/src/pages/Code/style.ts
Labels: feature ✨

#34 🎨 Refactor - Delete Duplicated Block And Relocate HttpServletUtil
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/utility/HttpServletUtil.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/security/controller/AuthController.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/security/handler/login/DefaultLoginSuccessHandler.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/security/handler/logout/DefaultLogoutSuccessHandler.java
Labels: refactor 🎨

#40 🎨 Refactor - Change Entity Attribute in Dialogue, Modeullak_Keywords, Modeullaks
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/domain/mysql/Dialogue.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/domain/mysql/Modeullak.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/domain/mysql/ModeullakKeyword.java
Labels: refactor 🎨

#35 ✨ Feature - Room IDE Question Component
  Dev/Web/index.html
  Dev/Web/public/logo.svg
  Dev/Web/src/assets/icons/CopyButton.svg
  Dev/Web/src/components/Common/SvgButton/index.tsx
  Dev/Web/src/components/Common/SvgButton/style.ts
  Dev/Web/src/components/Entry/FormItem/Button/RadiusButton/index.tsx
  Dev/Web/src/components/Entry/FormItem/Button/RadiusButton/style.ts
  Dev/Web/src/components/Entry/FormItem/Button/RectangleButton/index.tsx
  Dev/Web/src/components/Entry/FormItem/Button/RectangleButton/style.ts
  Dev/Web/src/components/Entry/FormItem/Input/index.tsx
  Dev/Web/src/components/Entry/Login/LoginForm/index.tsx
  Dev/Web/src/components/Entry/Login/LoginForm/style.ts
  Dev/Web/src/components/Entry/Login/LoginSvg/index.tsx
  Dev/Web/src/components/Entry/Login/style.ts
  Dev/Web/src/components/Entry/SignUp/SignUpForm/index.tsx
  Dev/Web/src/components/Entry/SignUp/SignUpSvg/style.ts
  Dev/Web/src/components/Entry/SignUp/style.ts
  Dev/Web/src/components/Entry/SvgItem/Arrow/style.ts
  Dev/Web/src/components/Room/DefaultRoom/DefaultQuestionSummary/QuestionSummary/index.tsx
  Dev/Web/src/components/Room/DefaultRoom/DefaultQuestionSummary/QuestionSummary/style.ts
  Dev/Web/src/components/Room/DefaultRoom/DefaultQuestionSummary/index.tsx
  Dev/Web/src/components/Room/DefaultRoom/DefaultQuestionSummary/style.ts
  Dev/Web/src/components/Room/DefaultRoom/DefaultRoomHeader/RoomTag/index.tsx
  Dev/Web/src/components/Room/DefaultRoom/DefaultRoomHeader/RoomTag/style.ts
  Dev/Web/src/components/Room/DefaultRoom/DefaultRoomHeader/index.tsx
  Dev/Web/src/components/Room/DefaultRoom/DefaultRoomHeader/style.ts
  Dev/Web/src/components/Room/DefaultRoom/DefaultRoomProgress/index.tsx
  Dev/Web/src/components/Room/DefaultRoom/DefaultRoomProgress/style.ts
  Dev/Web/src/components/Room/DefaultRoom/index.tsx
  Dev/Web/src/components/Room/DefaultRoom/style.ts
  Dev/Web/src/components/Room/UserRoom/AnswerDetail/index.tsx
  Dev/Web/src/components/Room/UserRoom/AnswerDetail/style.ts
  Dev/Web/src/components/Room/UserRoom/AnswerInput/index.tsx
  Dev/Web/src/components/Room/UserRoom/AnswerInput/style.ts
  Dev/Web/src/components/Room/UserRoom/QuestionBrief/index.tsx
  Dev/Web/src/components/Room/UserRoom/QuestionBrief/style.ts
  Dev/Web/src/components/Room/UserRoom/QuestionDetail/index.tsx
  Dev/Web/src/components/Room/UserRoom/QuestionDetail/style.ts
  Dev/Web/src/components/Room/UserRoom/index.tsx
  Dev/Web/src/components/Room/UserRoom/style.ts
  Dev/Web/src/components/Sidebar/IDEMulti/index.tsx
  Dev/Web/src/components/Sidebar/IDEMulti/style.ts
  Dev/Web/src/components/Sidebar/IDEPersonal/index.tsx
  Dev/Web/src/components/Sidebar/IDEPersonal/style.ts
  Dev/Web/src/constants/Constant.ts
  Dev/Web/src/hooks/useUserQuestionBrief.ts
  Dev/Web/src/interfaces/props/SvgButtonProps.ts
  Dev/Web/src/interfaces/states/RoomFrameState.ts
  Dev/Web/src/interfaces/states/UserQuestionBriefState.ts
  Dev/Web/src/pages/Code/index.tsx
  Dev/Web/src/stores/slices/roomFrame.slice.ts
  Dev/Web/src/stores/slices/userQuestionBrief.slice.ts
  Dev/Web/src/stores/store.ts
Labels: feature ✨

#52 ✨ Feature - Dialogues Rest API
  Dev/API-Server/build.gradle
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/config/KafkaConfig.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/exception/error/ErrorCode.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/listener/DialogueListener.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/controller/DialogueCommandV1Controller.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/controller/DialogueQueryV1Controller.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/controller/persistent
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/domain/mysql/Dialogue.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/domain/type/EDialogueStatus.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/dto/persistent
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/dto/request/CreateDialogueRequestDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/dto/request/UpdateDialogueAnswerRequestDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/dto/request/UpdateDialogueQuestionRequestDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/dto/response/DialogueDetailResponseDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/event/CreateDialogueEvent.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/repository/mysql/DialogueRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/CreateDialogueService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/DeleteDialogueService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/ReadDialogueDetailService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/UpdateDialogueAnswerService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/UpdateDialogueQuestionService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/persistent
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/CreateDialogueUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/DeleteDialogueUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/ReadDialogueDetailUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/UpdateDialogueAnswerUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/UpdateDialogueQuestionUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/persistent
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/kafka/controller/KafkaController.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/kafka/controller/persistent
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/keyword/repository/mysql/KeywordRepository.java
Labels: feature ✨

#55 🚑 HotFix - Modeullak Keywords Modal Component
  Dev/Web/src/components/ModeullakDetail/KeywordModal/CoreKeyword/index.tsx
  Dev/Web/src/components/ModeullakDetail/QuestionKeywordChunk/QuestionKeyword/index.tsx
  Dev/Web/src/stores/slices/dialogue/modeullakUserDialogueSummary.slice.ts
Labels: hot fix 🚑

#56 ✨ Feature - UseCase Annotation, API Server CI/CD
  .github/workflows/dev_api_server_cicd.yml
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/domain/mysql/Dialogue.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/CreateDialogueService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/CreateDialogueUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/DeleteDialogueUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/ReadDialogueDetailUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/UpdateDialogueAnswerUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/UpdateDialogueQuestionUseCase.java
Labels: feature ✨, safe to api server 🚀

#58 🚑 Hot Fix - Docker File Path Error
  .github/workflows/dev_api_server_cicd.yml
  Dev/API-Server/Dockerfile
Labels: hot fix 🚑, safe to api server 🚀

#63 🎨 ✨🚑 Refactor, Feature, Hot Fix - Create Tag/Keyword, Update Sign UP API
  .github/workflows/dev_api_server_cicd.yml
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/ModeulApplication.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/dto/PageInfo.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/utility/CookieUtil.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/repository/mysql/DialogueRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/keyword/controller/ModeullakKeywordQueryV1Controller.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/keyword/dto/response/ModeullakKeywordDetailPagingDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/keyword/repository/mysql/KeywordRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/keyword/service/ReadKeywordListUsingModeullakService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/keyword/usecase/ReadKeywordListUsingModeullakUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/repository/mysql/ModeullakKeywordRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/repository/mysql/ModeullakKeywordsRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/repository/mysql/ModeullakRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/security/controller/AuthController.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/security/dto/request/SignUpByDefaultRequestDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/security/service/SignUpByDefaultService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/security/usecase/SignUpByDefaultUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/tag/controller/UserModeullakTagQueryV1Controller.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/tag/dto/persistent
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/tag/dto/response/TagsWithDateListDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/tag/repository/mysql/TagRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/tag/service/ReadTagsListUsingUserAndDateService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/tag/usecase/ReadTagsListUsingUserAndDateUseCase.java
Labels: feature ✨, hot fix 🚑, refactor 🎨, safe to api server 🚀

#66 🐛 Fix - Random Nickname Error
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/contants/Constants.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/controller/ModeullakQueryV1Controller.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/dto/response/ModeullakSummaryResponseDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/dto/response/ModeullakUserBriefListResponseDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/service/ReadModeullakSummaryService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/service/ReadModeullakUserListService.java
Labels: fix 🐛, safe to api server 🚀

#69 🚀 Deploy - Web Client CI/CD Setting
  .github/workflows/dev_web_client_cicd.yml
Labels: feature ✨, safe to web client 🚀

#71 🐛 Fix - Web Client CI/CD Error
  .github/workflows/dev_web_client_cicd.yml
Labels: fix 🐛, safe to web client 🚀

#73 🐛 Fix - Web Client CI/CD Error
  .github/workflows/dev_web_client_cicd.yml
Labels: fix 🐛, safe to web client 🚀

#75 🐛 Fix - Web Client CI/CD Error
  .github/workflows/dev_web_client_cicd.yml
Labels: fix 🐛, safe to web client 🚀

#76 ✨Feature - CodeIde View, Code Page Sidebar
  Dev/Web/package.json
  Dev/Web/src/apis/storage/index.tsx
  Dev/Web/src/assets/icons/CodeIde/BlackDoubleRightArrow.svg
  Dev/Web/src/components/Ide/CODE_SNIPPETS.ts
  Dev/Web/src/components/Ide/CodeIde/index.tsx
  Dev/Web/src/components/Ide/CodeIde/style.ts
  Dev/Web/src/components/Ide/CodeTree/index.tsx
  Dev/Web/src/components/Ide/CodeTree/style.ts
  Dev/Web/src/components/Ide/LanguageSelector/index.tsx
  Dev/Web/src/components/Ide/LanguageSelector/style.ts
  Dev/Web/src/components/Ide/Questions/index.tsx
  Dev/Web/src/components/Ide/Questions/style.ts
  Dev/Web/src/components/Sidebar/IDEMulti/style.ts
  Dev/Web/src/components/Sidebar/IDEPersonal/index.tsx
  Dev/Web/src/components/Sidebar/IDEPersonal/style.ts
  Dev/Web/src/pages/Code/index.tsx
  Dev/Web/src/stores/slices/storage.slice.ts
Labels: feature ✨

#81 🐛 Fix - Dto Error
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/contants/Constants.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/dto/response/ModeullakDetailResponseDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/dto/response/ModeullakOverviewListResponseDto.java
Labels: fix 🐛, safe to api server 🚀

#85 ✨ Fix - Sentry Capture
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/dto/SelfValidating.java
Labels: hot fix 🚑, safe to api server 🚀

#87 🚑 Fix - Dto Validation Error
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/dto/request/CreateModeullakUserRequestDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/dto/response/ModeullakSummaryResponseDto.java
Labels: hot fix 🚑

#89 ✨ Fix - Storage Detail Read API
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/storage/service/ReadStorageUsingModeullakService.java
Labels: hot fix 🚑, safe to api server 🚀

#93 🚑 Hot Fix - Axios Exception Error
  Dev/Web/src/apis/base/authInstance.ts
Labels: hot fix 🚑, safe to web client 🚀

#95 🚑 Hot Fix - Auth Page Login Component Error
  Dev/Web/src/components/Entry/Login/LoginSvg/index.tsx
  Dev/Web/src/components/Entry/SignUp/SignUpSvg/index.tsx
Labels: hot fix 🚑, safe to web client 🚀

#98 ✨ Feature - Modeullak Storage Dialogue API Connection
  Dev/Web/src/apis/dialogue/index.ts
  Dev/Web/src/apis/modeullak/index.ts
  Dev/Web/src/components/Room/CodeRoom/Questions/index.tsx
  Dev/Web/src/components/Room/CodeRoom/Questions/style.ts
  Dev/Web/src/components/Room/CodeRoom/index.tsx
  Dev/Web/src/components/Room/DefaultRoom/DefaultRoomHeader/index.tsx
  Dev/Web/vite.config.ts
Labels: feature ✨, safe to web client 🚀

#100 ✨ Feature - Modeullak Room State Dependency
  Dev/Web/src/assets/icons/ArrowLeft.svg
  Dev/Web/src/assets/icons/CloseButton.svg
  Dev/Web/src/assets/icons/CodeIde/BlackDoubleRightArrow.svg
  Dev/Web/src/assets/icons/CopyButton.svg
  Dev/Web/src/components/Common/ProfileImage/style.ts
  Dev/Web/src/components/Common/SvgButton/style.ts
  Dev/Web/src/components/Entry/Login/LoginSvg/style.ts
  Dev/Web/src/components/Entry/Login/style.ts
  Dev/Web/src/components/Modal/index.tsx
  Dev/Web/src/components/ModeullakDetail/KeywordModal/CoreKeyword/style.ts
  Dev/Web/src/components/ModeullakDetail/style.ts
  Dev/Web/src/components/Room/CodeRoom/index.tsx
  Dev/Web/src/components/Search/index.tsx
  Dev/Web/src/components/Sidebar/ModeullakSidebarInfo/index.tsx
  Dev/Web/src/components/Sidebar/ModeullakSidebarUser/index.tsx
Labels: feature ✨, safe to web client 🚀

#101 💄 Design - Code View Design
  Dev/Web/src/components/Common/Row/index.tsx
  Dev/Web/src/components/Common/Row/style.ts
  Dev/Web/src/components/NavBar/index.tsx
  Dev/Web/src/components/Room/CodeRoom/index.tsx
  Dev/Web/src/components/Room/CodeRoom/style.ts
  Dev/Web/src/components/Room/DefaultRoom/style.ts
  Dev/Web/src/components/Room/HostRoom/style.ts
  Dev/Web/src/components/Room/UserRoom/style.ts
  Dev/Web/src/components/Search/Button/index.tsx
  Dev/Web/src/components/Search/index.tsx
  Dev/Web/src/components/Sidebar/ModeullakSidebarInfo/index.tsx
  Dev/Web/src/components/Sidebar/ModeullakSidebarInfo/style.ts
  Dev/Web/src/components/Sidebar/ModeullakSidebarUser/style.ts
Labels: feature ✨, safe to web client 🚀

#104 ✨ Feature - Modeullak Room Dialogue Answer API Connection
  Dev/Web/src/apis/dialogue/index.ts
  Dev/Web/src/components/Room/HostRoom/AnswerDetail/index.tsx
  Dev/Web/src/components/Room/HostRoom/AnswerInput/index.tsx
  Dev/Web/src/components/Room/HostRoom/QuestionDetail/index.tsx
  Dev/Web/src/components/Room/HostRoom/index.tsx
  Dev/Web/src/components/Room/UserRoom/AnswerDetail/index.tsx
  Dev/Web/src/components/Room/UserRoom/QuestionDetail/index.tsx
  Dev/Web/src/components/Room/UserRoom/index.tsx
  Dev/Web/src/components/Sidebar/ModeullakSidebarInfo/index.tsx
  Dev/Web/src/components/Sidebar/ModeullakSidebarUser/index.tsx
  Dev/Web/src/interfaces/states/dialogue/DialogueDetailState.ts
Labels: feature ✨, safe to web client 🚀

#106 ✨ Featrure - UI Design and Functions
  Dev/Web/src/components/Modal/ModalButton/style.ts
  Dev/Web/src/components/Modal/index.tsx
  Dev/Web/src/components/NavBar/index.tsx
  Dev/Web/src/components/Room/CodeRoom/index.tsx
  Dev/Web/src/components/Room/UserRoom/index.tsx
  Dev/Web/src/components/Sidebar/ModeullakSidebarInfo/CodeTree/index.tsx
  Dev/Web/src/components/Sidebar/ModeullakSidebarInfo/CodeTree/style.ts
  Dev/Web/src/components/Sidebar/ModeullakSidebarInfo/style.ts
Labels: feature ✨, safe to web client 🚀

#107 ✨ Feature - Dialogue EDA Connection
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/config/KafkaConfig.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/listener/DialogueListener.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/controller/DialogueConsumerController.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/domain/mysql/Dialogue.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/dto/response/DialogueSummaryListDto.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/event/CreateDialogueEvent.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/event/UpdateAnswerInDialogueEvent.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/repository/mysql/DialogueRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/CreateDialogueService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/UpdateAnswerInDialogueService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/UpdateAnswerInDialogueUseCase.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/kafka/controller/KafkaController.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/kafka/service/persistent
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/keyword/repository/mysql/KeywordRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/security/service/AuthenticateJsonWebTokenService.java
Labels: feature ✨

#109 🚑 Hot Fix - Null Type Error
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/controller/DialogueConsumerController.java
Labels: hot fix 🚑, safe to api server 🚀

#110 🚑 Hot Fix - Dto Error
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/ReadDialogueTemporarySummaryListService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/usecase/ReadDialogueTemporarySummaryListUseCase.java
Labels: hot fix 🚑, safe to api server 🚀

#111 🚑 Hot Fix - Domain Error
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/domain/mysql/Dialogue.java
Labels: hot fix 🚑, safe to api server 🚀

#114 ✨ Feature - Stomp Setting, Domain Logic Error
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/contants/Constants.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/repository/mysql/DialogueRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/dialogue/service/UpdateAnswerInDialogueService.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/repository/mysql/ModeullakKeywordRepository.java
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/modeullak/service/CreateModeullakUserService.java
Labels: feature ✨, safe to api server 🚀

#116 🚑 Hot Fix - Socket WS URL Mistake
  Dev/API-Server/src/main/java/org/dongguk/vsa/modeul/core/config/WebSocketConfig.java
Labels: hot fix 🚑, safe to api server 🚀

#117 ✨ Feature - Modeullak User Stomp Setting
  Dev/Web/package.json
  Dev/Web/src/components/ModeullakDetail/KeywordModal/BriefAnswer/index.tsx
  Dev/Web/src/components/ModeullakDetail/KeywordModal/UserKeyword/style.ts
  Dev/Web/src/components/Room/CodeRoom/Questions/index.tsx
  Dev/Web/src/components/Room/CodeRoom/index.tsx
  Dev/Web/src/components/Room/HostRoom/index.tsx
  Dev/Web/src/components/Room/UserRoom/index.tsx
  Dev/Web/src/components/Sidebar/ModeullakSidebarInfo/index.tsx
  Dev/Web/src/stores/slices/dialogue/dialogueDetail.slice.ts
Labels: feature ✨, safe to web client 🚀

#118 💄 Design - CodeIde Design
  Dev/Web/src/components/Room/CodeRoom/Questions/index.tsx
  Dev/Web/src/components/Room/CodeRoom/Questions/style.ts
  Dev/Web/src/components/Search/Button/index.tsx
  Dev/Web/src/components/Search/index.tsx
  Dev/Web/src/components/Sidebar/ModeullakSidebarUser/style.ts
Labels: feature ✨, safe to web client 🚀
